ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  cursor: pointer;
  list-style: none;

  padding: 8px;
  margin: 8px;

  border-radius: 4px;

  border: 1px solid transparent;
}

li.active {
  border: 1px solid #4361ee;
}

li img {
  max-width: 300px;
  height: 300px;

  object-fit: cover;
}
