ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  cursor: pointer;
  list-style: none;

  padding: 8px;
  margin: 8px;

  border-radius: 4px;

  border: 1px solid transparent;
}

li.active {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
}

li img {
  max-width: 300px;
  height: 300px;

  object-fit: cover;
}
