header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 20px 10px 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  margin: 10px
}

.item-image {
  height: 300px;

  object-fit: cover;
}
